.service_list .card{
    background-color:#191C26;
    color:rgb(236, 203, 57);
}

.service_list .btn{
    color:white;
}
.service_list .btn:hover{
    color:yellowgreen;
    border: 1px solid green;
}