.menu a{
    color: #fff !important;
    text-decoration: none;
}
.menu a:hover{
    color: lightgoldenrodyellow !important;
}
.menu li{
    margin-right: 25px;
}
.header{
    background-color: rgb(0, 0, 0);
}
.logo{
    font-family: 'Nosifer', cursive;
    padding-top:10px;
    /* font-family: 'Berkshire Swash', cursive; */
    font-size: 40px;
    color: #f3dc09;
  }
.resume{
    background-color: #39889c;
    border: 1px solid #c3e4e4;
    padding: 7px 20px;
    border-radius: 4px;
}
.resume:hover{
    background-color: darkslategray;
}
.mobile-expand-menu{
    background-color: rgb(235, 255, 51) !important;
    font-size: 20px;
}

@media (max-width:768px) {
    .logo{
      font-size: 20px;
  
    }
  }

