.menu a{
    color: #fff !important;
    text-decoration: none;
}
.menu a:hover{
    color: lightgoldenrodyellow !important;
}
.menu li{
    margin-right: 25px;
}
.header{
    background-color: rgb(0, 0, 0);
}

.resume{
    background-color: #39889c;
    border: 1px solid #c3e4e4;
    padding: 7px 20px;
    border-radius: 4px;
}
.resume:hover{
    background-color: darkslategray;
}
.mobile-expand-menu{
    background-color: darkslategray !important;
    font-size: 31px;
}

