.footer a{
    text-decoration: none;
    color: #ffda0b;
    font-size: 18px;
    font-weight: 600;
}
.footer a:hover{
    color: #fff;
}
.footer h6{
    color: #f316bc;
}
.footer h5{
    font-size: 14px;
    color: lightgray;
    padding-top: 10px;
    letter-spacing: 3px;
}