.banner-text h5{
    font-size: 46px;
    margin: 10px 0;
    font-weight: 700;
    color: #f0bb0c;
}
.banner-text  h4,p{
    color: #fff;
    padding-left: 0;
}
.banner-text h3{
    color: #fff;
}

.banner-image {
    width: 300px;
    margin-top: -80px;
}
.banner-image img{
    height: 350px;
}
.social-icon a{
    text-decoration: none;
    margin-right: 15px;
    color: #b2b509;
    cursor: pointer;
    font-size: 31px;
}

.primary-button{
    background-color: #facf0e;
    color: rgb(0, 0, 0);
    border-color: #facf0e;
    margin: 25px 0;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 8px 20px;

}
.primary-button:hover{
    background-color: #09173600;
    color: #d8e707;
}